In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint


from api_keys import g_key

In [2]:
output_data_file = "output_data/cities.csv"

weather_df = pd.read_csv(output_data_file)

weather_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weather_df[["Lat", "Lng"]]

humidity = weather_df["Humidity"].astype(float)


fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=10,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
new_df = pd.DataFrame(weather_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_df["Max Temp"] <= 80) & (new_df["Max Temp"] > 70)
wind_speed = new_df["Wind Speed"] < 10
cloudiness = new_df["Cloudiness"] == 0

new_df[max_temp & wind_speed & cloudiness]

             City  Max Temp  Wind Speed  Cloudiness
7           opuwo     72.06        5.44           0
70   ponta do sol     73.68        5.32           0
88       cidreira     76.56        5.50           0
138     morondava     79.08        9.06           0
139         vaini     78.90        1.59           0
176         nador     75.20        6.93           0
297         mogok     72.24        2.77           0
444       birjand     71.60        9.17           0

In [6]:
hotel= pd.DataFrame(weather_df, columns=["City", "Country", "Lat", "Lng"])

hotel["Hotel Name"] = ""
hotel

            City Country    Lat     Lng Hotel Name
0      ostrovnoy      RU  68.05   39.51
1      mahebourg      MU -20.41   57.70
2        qaanaaq      GL  77.48  -69.36
3         zhuhai      CN  40.71  112.04
4      cape town      ZA -33.93   18.42
..           ...     ...    ...     ...        ...
543       yabrud      SY  33.97   36.66
544      paraiso      MX  24.01 -104.61
545      veraval      FR  49.65    0.71
546  novyy urgal      RU  51.07  132.56
547      tongren      CN  27.72  109.18

[548 rows x 5 columns]

In [7]:
coordinates_lat_lng = []

city = hotel["City"]
city

0        ostrovnoy
1        mahebourg
2          qaanaaq
3           zhuhai
4        cape town
          ...
543         yabrud
544        paraiso
545        veraval
546    novyy urgal
547        tongren
Name: City, Length: 548, dtype: object

In [8]:
coordinates = f"{hotel['Lat'][0]},{hotel['Lng'][0]}"
search = "hotel"
radius = 5000
type = "hotel"

params = {
    "location": coordinates,
    "keyword": search,
    "radius": radius,
    "type": type,
    "key": g_key}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response = requests.get(base_url, params=params)
pprint(response.json(), depth=1)

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [9]:
hotel.iloc[0][0]

'ostrovnoy'

In [10]:
hotel_name = []

params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
    try:
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)
        
hotel_name

[nan,
 'Preskil Island Resort',
 'Qaanaaq Hotel',
 nan,
 'The Crystal',
 'Pension Temetiu Village',
 'Barrack Point Holidays',
 'Opuwo Country Lodge',
 'Umka',
 'Baza Otdykha "Zaozer\'ye"',
 'Hotel Astoria',
 'Enjoy Chiloé. Hotel De La Isla',
 'The Edgewater Resort and Spa',
 nan,
 'Hotel Gobernador',
 'Ramada Plaza by Wyndham Albany',
 'Gostinitsa Viliuisk',
 'Los Cauquenes Resort & Spa',
 'Laguna Beach Hotel & Spa',
 'Отель Купеческий',
 'Milky Resort',
 'Esplanade Hotel',
 'Domaine de Rochevilaine',
 'Marssuth Pousada Maragogi',
 nan,
 'โรงแรมกันตังปาร์ค(Kantang Park Hotel)',
 "AMAAN'S HOUSE",
 'Hotel Cabo de Hornos',
 "Pension Maro'i",
 'Old Colony Inn',
 'Goba Lodge',
 'The Westin Qingdao',
 'Pier Side Landing',
 nan,
 nan,
 'Long House Hotel Bethel',
 'Baymont by Wyndham Clinton Valley West Court',
 'Huset ved havet',
 nan,
 nan,
 'The Marine Hermanus',
 "Best Western Plus St. John's Airport Hotel and Suites",
 'The Explorer Hotel',
 nan,
 'Hotel Solymar Galapagos',
 'Hotel Rosita',
 nan,
 nan,
 'The Halyards Hotel',
 nan,
 nan,
 'Hotel Caleta Olivia',
 'سه طبقه خیرخواه',
 'Waldorf Astoria Los Cabos Pedregal',
 'Le Rocher de Tahiti',
 nan,
 'Embassy Beach',
 nan,
 'Hótel Höfn',
 'Hotel Garuda Bontang',
 'Kewadin Casinos – Sault Ste. Marie',
 nan,
 'Best Western Thompson Hotel & Suites',
 "Munitsipal'naya Gostinitsa",
 'Hotel Kap Farvel',
 'Profilaktoriy Baes',
 nan,
 'The Bungalow Hambantota',
 'BejaParque Hotel',
 'Balneario de Leana',
 'Kanto Island Inn Suites & Spa',
 nan,
 'Isles Sunset Lodge',
 'The Oceanfront Inn',
 nan,
 nan,
 'Verona Palace Hotel',
 'Provintsiya',
 'Hotel San Giorgio',
 'Hotel Peace Palace, Baglung, Nepal',
 'Raglan Harbour View Hotel',
 'Jamestown Hotel',
 'Sur Plaza Hotel',
 nan,
 'Emerald Star Hotel',
 'Hotel Grand Chancellor Launceston',
 nan,
 'Hotel National',
 'Pousada Rosa',
 'Puerto Azul Clubhouse',
 'PRO LINK HOTEL',
 'Hotel Río Arriba',
 'Holiday Inn Express Xichang City Center',
 'Comfort Inn',
 'Park Inn by Radisson Najran',
 nan,
 'Falls Hotel',
 nan,
 'Baza Otdykha "Raukhova Mel\'nitsa"',
 nan,
 'Swiss-Belhotel Sorong',
 'Courtyard by Marriott Kingston Highway 401/Division Street',
 'The Gilmore Hotel',
 'Sheraton Kauai Resort at Coconut Beach',
 nan,
 'Qian Hao Hotel',
 'Hilo Hawaiian Hotel',
 'Skky Hotel',
 'Bonthe Holiday Village',
 nan,
 'Embassy Suites by Hilton Lompoc Central Coast',
 'Sinclairs Bayview Port Blair',
 'Bredasdorp Country Manor',
 nan,
 'Hotel Karem Bay',
 'InterContinental Bora Bora Resort Thalasso Spa',
 'Keochinda hotel',
 'Mpondo Guest House',
 'Hotel Xaguate',
 nan,
 'Turis Firper Hotel',
 nan,
 'Sorriso Thermae Resort & SPA',
 'Лагуна',
 'Hotel Reinares',
 'Hotel da Canoa',
 'Villa Howden',
 'Sundog Inn',
 nan,
 'Hotel Marina Del Bay',
 'Hotel El Merecure',
 'Gostinitsa Ip Zabirov',
 'The Wendover Nugget Hotel & Casino',
 'Hôtel TAKIALT',
 'Hotel Castagneto',
 'Kibungo - Centre St. Joseph Guest House',
 'Frobisher Inn',
 nan,
 'Kimony Resort Hotel',
 'Dandeli Dreams Jungle resorts',
 'Guyana Marriott Hotel Georgetown',
 nan,
 'Tube well mirza rehan',
 'Xinhao Business Hotel',
 'Super 8 by Wyndham Plainview',
 'WAM Hotel Patagónico',
 nan,
 'Hotel Cambri',
 'Taif hotel',
 'Leheng Business Hotel',
 'Talnakh Hotel',
 nan,
 "L'oiseau de Paradis",
 'Pousada Tropical',
 'Havøysund Hotel & Rorbuer',
 'Snowhotel Kirkenes',
 'Hotel Narsaq',
 "Phil & Ann's Sunset Motel",
 'Chomtarn Resort',
 'Four Points by Sheraton Manado',
 'Hotel San Michele',
 'Pousada Cassino',
 nan,
 'Parkside Inn',
 'Hyatt Regency Kathmandu',
 'Heritage Hotel',
 'AmericInn by Wyndham, Baxter Brainerd',
 '玉门宾馆',
 'Jægtvolden Fjordhotell',
 'Hotel Porto Santo & Spa',
 nan,
 nan,
 'Hotel Belle Vue',
 'Nusa Island Retreat',
 'Huella Lenca',
 'Naujaaraaluit – Clyde River Hotel',
 'Hotel Marchica Lagoon Resort, Nador Morocco',
 'Diamond Suites Luxury Boutique Hotel',
 nan,
 nan,
 'Hôtel Cap Macabou',
 'Hotel Angmagssalik',
 nan,
 'The Royal Grand Hotel',
 'Beach Hotel Burnie',
 nan,
 nan,
 nan,
 'Pestana Palm Gardens',
 'Bluff Hotel',
 'Le Georgesville, centre de congrès et hôtel',
 'Polar Capital',
 'ibis Styles Port Hedland',
 'Pebbles Inn',
 nan,
 'Coraki Hotel',
 'Hotel Arctic',
 'Enjoy Coquimbo Hotel de la Bahía',
 'Mauricia Beachcomber Resort & Spa',
 'KAABONG RESORT HOTEL',
 'Hotel Rincon Campestre',
 'Hotel Continental Luanda',
 'Hotel Patagonia',
 'Namatanai Hotel',
 'Kak Doma',
 nan,
 nan,
 nan,
 nan,
 'Yeet Hotel',
 'Quinta Das Buganvílias',
 nan,
 'Commodore on the Park',
 'Posada el portal de la Loma',
 'Abacus Motel',
 'Les Deux Vélos Cycle Lodge',
 'Hotel Grand Chancellor Hobart',
 'Clontarf Castle Hotel',
 'Al Baleed Resort Salalah by Anantara',
 nan,
 nan,
 'Marawi Resort Hotel',
 'LA QUINTA PRIMAVERA',
 nan,
 nan,
 'Lord Carnarvon Guesthouse',
 "L'imprimerie hôtel",
 'Amir hotel',
 'Howard Johnson Hotel & Marinas San Pedro Resort',
 nan,
 'Holiday Inn Express & Suites Moses Lake',
 'ROYAL STAR GUEST HOUSE',
 'Sheraton Hamilton Hotel',
 'Dreamsea Surf Resort Nicaragua',
 nan,
 'RedDoorz @ Cisaga',
 nan,
 'Hotel Dela Inn',
 'B&B Villa Emilia 1899',
 'Manzhouli Shangri-La Hotel',
 'Commercial Hotel',
 'Chukotka hotel',
 'REER XOOSHLE GROUP',
 'Mandry',
 '3G hotel pasni',
 "Smitty's Bed and Breakfast",
 'Empire Hotel',
 'Punta Zicatela Hotel',
 'Panamericana Hotel Ancud',
 'Damu Hotel',
 'Port Lincoln Hotel',
 nan,
 'KARTANOHOTELLI KAROLINEBURG',
 'Murray Bridge Hotel',
 'Beleza Pura B&B',
 nan,
 'Brasiléia Palace Hotel',
 'Hotel du Parc',
 'Lakefront Lodge',
 'Hehe Commercial Hotel',
 'Saddle West Hotel Casino RV Resort',
 'Copper River Inn',
 'Mayfair Hotel',
 'Hotel Soyuz',
 'Iloha Seaview Hotel',
 'Jalu Hotel',
 'DoubleTree by Hilton Hotel Alice Springs',
 'El Gran Hotel Unare',
 nan,
 'Turtle Nest Inn',
 'The Griff Motel',
 'Nomades Hotel Boutique',
 'Dumont Palace Hotel',
 'La Campiña Club Hotel & Spa',
 'Samuels Hotel',
 'Hotel Iparana Paradise',
 'Pedras do Mar Resort & SPA',
 'Kinwica',
 'Royal Amazonia',
 nan,
 'Hacienda Hato Verde',
 'Inubosaki Kanko Hotel',
 'Holiday Inn Express & Suites Slave Lake',
 'Chateau on the Park - Christchurch, a DoubleTree by Hilton',
 nan,
 'LÜDERITZ NEST HOTEL',
 "Trishcia's Guest House",
 'Auyuittuq Lodge (Inns North)',
 nan,
 'Waterfront At Potlatch',
 'Hotel Viktoria',
 'Hotel Florida',
 'Club Mahindra Madikeri Resort In Coorg',
 'Bentley 24hr Room Accommodation',
 'Protea Hotel by Marriott Takoradi Select',
 'Gostinitsa Lyuks',
 nan,
 'Mount Mogok Hotel',
 'Scandic Mikkeli',
 'Longteng Hotel',
 nan,
 nan,
 'Taloa Heights',
 'Sails in the Desert',
 'Ooo "Kvarkeno"',
 'Hotel Concha do Mar',
 nan,
 'Distinction Dunedin Hotel',
 nan,
 'Café de Upernavik',
 nan,
 'Nebitchi Hotel',
 'Gostinitsa "Polar"',
 'Remstroyrekonstruktsiya',
 'Эрхэт зочид буудал',
 'Hotel Yanuba, Miraflores',
 'Explorers home',
 'Grandmas Bed and Breakfast',
 'Maringe Lagoon Lodge',
 'Pousada Gargalheiras',
 'HOTEL CASCADES PALACE',
 'Granada Hotel Mandera',
 'Hotel Paradis',
 'Baranof Downtown, BW Signature Collection',
 'Holiday Inn Express & Suites Sidney',
 nan,
 'Osprey Beach Hotel',
 'Hotel Sunroute Goshogawara',
 'The IMPERIAL Hotel',
 "Cork's Vienna Woods Hotel and Holiday Homes",
 nan,
 'フサキビーチリゾート ホテル＆ヴィラズ',
 'Whispering Bamboo Cove Resort',
 'Gostiny Dvor Evgeniya',
 nan,
 'Tianyi Hotel',
 'Ngwe Sin Kyal Guest House unit 2',
 'Hotel Elcano Acapulco',
 'Umthunzi Hotel & Conference',
 nan,
 'Mint Hotel',
 'Onway Lake Family Resort',
 'Sea View Hotel',
 'Hotel "Nord House"',
 'いわない高原ホテル',
 'Complexe Hotelier Ndjiki Mpeck Eseka II',
 'The Nesbitt Arms',
 nan,
 nan,
 nan,
 nan,
 'Hôtel Opémiska',
 nan,
 'Buudai Hotel',
 nan,
 nan,
 'The Grand Dragon Ladakh',
 'RedDoorz Syariah near Universitas Syiah Kuala Aceh',
 'Groote Eylandt Lodge',
 'Sjybrygga fiskecamp',
 'Lakeview Inns & Suites - Fort Nelson',
 'Crown Victoria Hotel',
 'Garden Hotel',
 'Pestana Bahia Praia',
 'Hotel Akureyri',
 'Bannisters Pavilion',
 'Alexander Beketov Guesthouse',
 nan,
 'Malaya Gostinitsa',
 'Alpine Hotel',
 'Motel Valentina',
 'Pazo do Souto',
 'Shimoda Tokyu Hotel',
 nan,
 'Solar De Alqueva',
 'The Island Ft Walton Destin by Hotel RL',
 'Shangri-la Hotel,Qinhuangdao',
 'Shoreline Inn & Conference C, Ascend Hotel Collection',
 'Gostinitsa Grenada',
 nan,
 'Radisson Blu Hotel Kayseri',
 'Hilton Quanzhou Riverside',
 'Hotel Lake Garda',
 'HomeStay Inn & Suites',
 nan,
 'Park Hotel Morotin',
 'Red Lion Hotel Coos Bay',
 'Orquidea Hotel',
 'Victoria Bed & Breakfast',
 'la grenade bleue spa piscine sauna',
 'The Harbour Inn',
 'Hotel ibis Styles Iu Namibe',
 'Westport Coast Hotel',
 'Ritz Plaza Hotel',
 'Eko Hotels & Suites',
 'The Ritz-Carlton, Half Moon Bay',
 'The Anchorage Port Stephens Hotel & Spa',
 'Last Light Lodge',
 'The Retreat at Blue Lagoon Iceland',
 'Sofitel Xining',
 nan,
 'Sikakubete Guest House Kalabo Town Council',
 'Carrefour',
 nan,
 'اوتيل City Stay',
 'Dorsett Grand Labuan',
 'DoubleTree by Hilton Hotel Pittsburgh - Cranberry',
 'Tunka-350',
 'Cristal Palace Hotel',
 'Atlantis Hotel',
 'Ragaray Executive Suites',
 'Gjestehuset 102',
 'Hotel TGH - The Grand Highness',
 'База отдыха "Динамо" Семинский перевал',
 'Sarwary Hotel',
 nan,
 'Kirkuk Plaza Hotel',
 'hotêl doufoulougou',
 'Endless Summer Lodge - BBH',
 'Beach Hotel',
 'Apera Beach Front Bungalows',
 'InterContinental Carlton Cannes',
 'Gostinitsa Susumanzoloto',
 'Hotel Georgenhof',
 'Hotel Karysmã',
 'Hostal Paraiso',
 nan,
 'The Two Chimneys',
 'Prozhivaniye V Okhotske',
 'Hotel Maniitsoq',
 'Khalifa Homestay',
 'HOTEL LA ROCA',
 'Hotel Gamboa',
 nan,
 'Dorsett Grand Labuan',
 'Ban Mai Hotel',
 'Gostinitsa Aray',
 'Sunset Inn & Suites',
 'The Old Lodge B&B',
 'Hotel Marilu',
 'Busta House Hotel',
 'Gostinitsa Ivushka',
 'The Old Orchard Guest House',
 nan,
 'Sepehr Hotel',
 'Tropixx Motel',
 'Desert Rendezvous',
 nan,
 'Warwick Doha Hotel',
 "Marriott's Ko Olina Beach Club",
 'Seeadler Bay Hotel',
 'スーパーホテル阿南・富岡',
 nan,
 nan,
 'Hotel la Avenida',
 'jianuo boutique Hotel',
 nan,
 'Hyatt Regency Maui Resort And Spa',
 'The Old Vicarage',
 'Hotel Iruya',
 nan,
 'Hotel Amazonas',
 'Hyatt Regency Monterey Hotel And Spa On Del Monte Golf Course',
 'Ban Thach Riverside Hotel & Resort',
 nan,
 nan,
 'Apartment on Begicheva 24',
 nan,
 'Sierra Alisos Hotel de Campo',
 'Tierra Alta Ecolodge',
 'Gran Hotel Barcino',
 nan,
 'BIG4 Sawtell Beach Holiday Park',
 'K-POP HOTEL Seoul Tower',
 'The Plettenberg Hotel',
 'Hotel Riu Palace Aruba',
 'Quinta da Ribeira',
 'Railway Hotel',
 'OYO 3249 Wijaya Kusuma Residence',
 'Hotel Zumrat',
 nan,
 'Zebu Lodge & Luxury Hotel',
 'E-Hotel Muravlenko',
 'Hotel Real',
 'Hotel MarSur',
 'Hôtel Palm Rock Beach',
 'Wingate by Wyndham Bismarck',
 nan,
 'Kashinin Hotel Ethiopia',
 nan,
 'Romka Holiday Inn',
 nan,
 nan,
 'Hotel Hans Egede',
 nan,
 'Jinjiang Inn Fuxin Sanyiba Park',
 nan,
 'Holiday Inn Express and Suites Havelock',
 'Hotel Indigo Traverse City',
 'Lua Hotel',
 'Mandal Hotel',
 'Hotel ibis Delemont Delsberg',
 'Bo Khin Guest House',
 nan,
 'Tutóia Pousada Jagatá',
 'Hotel Vila Gale Touros',
 'ASMOREIN HOTEL',
 'Drostdy Hotel',
 'Le Méridien Noumea Resort & Spa',
 'Ramada by Wyndham Emerald Park/Regina East',
 'Odar kanawal',
 'Hotel Caetano',
 'Natchez Grand Hotel',
 'Quest Hotel San Denpasar',
 'Keinnara Loikaw',
 nan,
 'Sandies Tropical Village',
 'Hotel Mansons Plaza',
 'Zagaia Eco Resort',
 'Silver Horseshoe Inn',
 'Peavine Inn & Suites',
 'Hideaway Bahamas Beach Club',
 'Ulvesund FYR',
 'Hotel Kununurra',
 'Dolphin Hotel',
 'AL kISWAH Towers Hotel',
 'Hotel Austral Viedma',
 'Hotel Hacienda Vieja',
 nan,
 'Lancaster Inn',
 'STAY PLUMERIA F',
 'Club Tapiz Hotel & Restó',
 'Key-oh Lodge',
 'Kärppälän Rustholli',
 nan,
 'Hotel Alavera',
 'Mercure Padang',
 'Hotel de Matam',
 'Grand Hotel des Sablettes Plage, Curio Collection by Hilton',
 'RedDoorz @ Hotel Bumi Palupy',
 'Zevs',
 'Mercure Hotel Tamworth',
 'Mercure Perth Hotel',
 nan,
 'Holiday Inn Durango',
 'Autour du Puits',
 nan,
 'Yudu Hotel']

In [11]:
hotel['Hotel Name']= hotel_name
hotel.dropna()
hotel.to_csv('hotel_export.csv')

In [12]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel.iterrows()]
locations = hotel[["Lat", "Lng"]]

In [13]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))